<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<intercept-url pattern="/Product" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/Category" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/Supplier" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/ConsumerCart" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/ProductDisplay" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/Cart" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/Pay" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login007" login-processing-url="/perform_login"
			authentication-failure-url="/Login_Error"
			authentication-success-forward-url="/Login_success" />
			<!-- username-parameter="username" password-parameter="password" -->
		<csrf disabled="true" /><!-- cross site req forgry -->
		<logout invalidate-session="true" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,enable from User where username=?"
				authorities-by-username-query="select username,role from User where username=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>